:root {
    --primary-color: #233a48;
    --secondary-color: #436e67;
    /* --accent1-color: #18664afd; */
    --font1-color: #000;
    --font2-color: #fff;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--font1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: var(--secondary-color);
    max-width: 1000px;
    justify-content: center;
    color: var(--font2-color);

}

.logo {
    display: block;
    text-align: center;
}

.logo img {
    width: 125px;
    height: auto;
    padding: 10px;

}

header nav {
    grid-column-start: 2;

}

.navigation {
    display: flex;
    flex-direction: row;
    list-style: none;

}

.navigation li {
    flex: 1 1 auto;
    text-align: center;
}

.navigation a {
    display: block;
    text-decoration: none;
    color: var(--font2-color);
    font-size: 1.2rem;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    /* Block element allows the image to be a background */
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 30px;
    width: 100%;
    padding: 8px;
    text-align: center;
    opacity: .8;
    background-color: var(--primary-color);
    color: var(--font2-color);
}

.hero article {
    position: absolute;
    bottom: 50px;
    margin: 0px;
    padding: 5px;
    background-color: var(--secondary-color);
    color: var(--font2-color);
}

.hero article img {
    float: right;
    width: 175px;
}

h2 {
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--font2-color);
}

.history {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.history img {
    width: 175px;
    height: auto;
}

.adventures {
    display: grid;
    grid-template: calc(40px + 1.5rem) 1fr / 1fr 1fr 1fr 1fr 1fr;
    max-width: 1000px;
}

.adventures h2 {
    grid-area: 1 / 1 / 2 / -1;
}

.adventures figure {
    max-width: 100px;

}

.adventures figure img {
    max-width: 150px;
}

.adventures figure figcaption {
    text-align: center;
    width: 150px;
}

section p {
    color: var(--font1-color);
    margin: 0;
}

footer {
    display: flex;
    align-items: center;
    justify-content: end;
}

footer p {
    color: var(--font1-color);
}