:root {
    --primary-color: rgb(35, 58, 72);
    --secondary-color: #436e67;
    --font1-color: #000;
    --font2-color: #fff;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--font1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: var(--secondary-color);
    max-width: 1000px;
    justify-content: center;
    color: var(--font2-color);

}

.logo {
    display: block;
    text-align: center;
}

.logo img {
    width: 125px;
    height: auto;
    padding: 10px;
    border-radius: 50%;
}

header nav {
    grid-column-start: 2;

}

.navigation {
    display: flex;
    flex-direction: row;
    list-style: none;

}

.navigation li {
    flex: 1 1 auto;
    text-align: center;
}

.navigation a {
    display: block;
    text-decoration: none;
    color: var(--font2-color);
    font-size: 1.2rem;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

h1 {
    text-align: center;
    /* margin: 10px; */
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--font2-color);
}

h2 {
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--font2-color);
}

/* Start of Home Page */

.trip-link {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0;
    padding: 20px;
    background-color: rgb(35, 58, 72);
    color: #fff;
    border-radius: 15px;
    text-align: center;
    font-size: 1.5rem;

}

.trip-link a {
    text-decoration: none;
    color: #fff;
}

.center-text {
    text-align: center;
    background-color: var(--primary-color);
    margin: 0;
}

.center-text h2 {
    background-color: var(--secondary-color);
    border-radius: 50%;
    margin: 1rem 5%;
}

.center-text p {
    margin: 0 10%;
    color: #fff;
}

.center-text a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 50%;
    font-style: italic;
    padding: 0 2rem;
    background-color: var(--secondary-color);
}

.adventures2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    margin: 0%;
    padding: 0 1rem 1rem;
    background-color: var(--primary-color);
}

.adventures2 figure {
    text-align: center;
}

.adventures2 figure img {
    max-width: 300px;
}

.adventures2 figure figcaption a {
    text-decoration: none;
    color: #fff;
    background-color: var(--secondary-color);
    padding: 0 2rem;
    margin: 2rem;
    border-radius: 50%;
}

.adventures2 figure figcaption {
    text-align: center;
    color: #fff;
}

.newsletter-form {
    margin: 0;
    padding-top: 1rem;
    background-color: var(--secondary-color);
}

.newsletter-form form {
    margin: 0 33%;
    color: #fff;
}

.newsletter-form form fieldset {
    margin: 0;
}

/* About Page */

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 30px;
    width: 100%;
    padding: 8px;
    text-align: center;
    opacity: .9;
    background-color: var(--primary-color);
    color: var(--font2-color);
}

.hero article {
    position: absolute;
    bottom: 50px;
    margin: 0px;
    padding: 5px;
    background-color: var(--secondary-color);
    color: var(--font2-color);
}

.hero article img {
    float: right;
    width: 175px;
}

.history {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.history img {
    width: 175px;
    height: auto;
}

.adventures {
    display: grid;
    grid-template: calc(40px + 1.5rem) 1fr / 1fr 1fr 1fr 1fr 1fr;
    max-width: 1000px;
}

.adventures h2 {
    grid-area: 1 / 1 / 2 / -1;
}

.adventures figure {
    max-width: 100px;

}

.adventures figure img {
    max-width: 150px;
}

.adventures figure figcaption {
    text-align: center;
    width: 150px;
}

/* Contact page CSS */

.map-form {
    display: flex;
}

iframe {
    max-width: 325px;
    max-height: 325px;
    margin: 0 1rem;
}

form {
    display: grid;
    border: none;
}

fieldset {
    display: grid;
    border: none;
    margin-bottom: .5rem;
}

fieldset p {
    padding-left: 0;
}

.form-item {
    display: grid;
    align-items: center;
}

.col1,
.col2 {
    grid-template-columns: 1fr 3fr;
    margin: 2px;
}

.col2 {
    grid-column: 2/3;
    padding: 8px;
}

.col3 {
    grid-template-columns: 1fr 3fr;
}

.radio {
    padding: .5rem;
}

.radio-space {
    padding-bottom: .5rem;
}

input {
    font-size: 1.1rem;
}

label,
.subscribe {
    display: inline-flex;
    align-items: center;
    gap: .5rem;
}

.information {
    display: block;
    margin: 1rem;
}

.information p {
    text-align: center;
    margin: 0;
    padding: 0;
}

button {
    margin: 1rem 0;
    padding: .5rem;
    font-weight: bold;
    border-radius: 10px;
    /* border: 1px solid rgb(0, 0, 0/.1); */
}

button:hover {
    background-color: var(--secondary-color);
    color: var(--font2-color);
}

.to-serve {
    border: 1px solid;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    color: var(--font2-color);
}

.employee {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.employee img {
    max-width: 200px;
    max-height: 200px;
}

/* Trips Page */

.action {
    margin: 0;
    padding: 0;
}

.trips {
    margin: 0;
    background-color: var(--primary-color);
    max-width: 840px;
}

.trips div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    text-align: center;
    color: #fff;
}

.trips img {
    max-width: 100%;
}

.trips figcaption {
    padding: .5rem;
}

.trips a {
    text-decoration: none;
    color: #fff;
}

.trips h2 {
    background-color: var(--secondary-color);
    border-radius: 50%;
    margin: 1rem 5%;
}

/* .trip-link {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0;
    padding: 20px;
    background-color: rgb(35, 58, 72);
    color: #fff;
    border-radius: 15px;
    text-align: center;
    font-size: 1.5rem;

}

.trip-link a {
    text-decoration: none;
    color: #fff;
} */

.trip5 {
    grid-column: 1/3;
}

.highlight {
    font-weight: bold;
    background-color: var(--secondary-color);
    border-radius: 20px;
    padding: 5px 5px 2px;
}

.table {
    background-color: var(--primary-color);
    margin: 0;
    color: #fff;
    letter-spacing: 1px;
    justify-items: center;
}

.table table {
    border-collapse: collapse;
    text-align: center;
}

.table h3 {
    background-color: var(--secondary-color);
    margin: .5rem;
    border-radius: 50%;
    text-align: center;
    padding: .2rem 2rem;
}

.table th,
.table td {
    border: 1px solid var(--secondary-color);
    padding: 8px 10px;
}

thead th,
tfoot tr {
    background-color: var(--secondary-color);
    font-weight: 700;
}

.legal-stuff {
    background-color: var(--primary-color);
    margin: 0;
}

.legal-stuff p {
    color: #fff;
    font-size: 10px;
}

section p {
    color: var(--font1-color);
    margin: 0;
}

footer {
    display: flex;
    align-items: center;
    justify-content: end;
}

footer p {
    color: var(--font1-color);
}