:root {
    --primary-color: #233a48;
    --secondary-color: #436e67;
    --accent1-color: #6c9585;
    --accent2-color: #c6cfb9;
    --accent3-color: white;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    /* Block element allows the image to be a background */
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 30px;
    width: 100%;
    padding: 8px;
    text-align: center;
    opacity: .8;
    background-color: var(--primary-color);
    color: var(--accent3-color);
}

.hero article {
    position: absolute;
    bottom: 50px;
    margin: 0px;
    padding: 5px;
    background-color: var(--secondary-color);
    color: var(--accent3-color);
}

.hero article img {
    float: right;
    width: 175px;
}

h2 {
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--accent3-color);
}

section p {
    color: black;
}