* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    max-width: 1000px;
}

header {
    margin: 0 auto;
    width: 600px;
    background-color: darkblue;
    border-radius: 0.5rem;
}

h1 {
    margin: 1rem;
    text-align: center;
    color: white;

}

form {
    width: 600px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 /.1);
    border-radius: 1.5rem;
    background-color: lightblue;
    display: grid;
}

fieldset {
    display: grid;
    gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 /.1);
    padding: 1rem;
}

legend {
    padding: .5rem;
    color: darkorange;
    font-size: 1.3rem;
}

label,
input,
button,
select,
textarea {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem auto 0rem;
    background-color: darkgray;
    color: darkblue;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: orange;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: .8rem;

}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 2fr 1fr;
    margin: .5rem
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: .5rem;
}

.column3 label {
    text-align: center;
    padding-bottom: .5rem;
}