* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-background-color: darkblue;
    --main-border: 1px solid rgb(0 0 0/ 0.1);
    --main-padding: 1rem;

}

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

nav {
    background-color: var(--main-background-color);
    padding: var(--main-padding);
}

/*This CSS rule names the <nav > element as the selected element to apply two style declarations. The background color will be the color "darkblue", which is a valid, named color. 
Padding, or area between the content and border is set to 10 pixels for readability. */

nav a {
    color: white;
    display: block;
    padding: var(--main-padding);
}

/*This CSS rule selects all the <a > (anchor / link) elements in the HTML that are children of the <nav > element and applies the following declarations: 
The foreground or font color will be white. 
The display will change from the default of inline to block. 
Each anchor tag will have padding of 20px; */

h1 {
    color: var(--main-background-color);
    padding: .5rem;
}

/*This CSS rule references the <h1 > (heading 1) element as the selected element and applies the following declaration: 
The foreground, font color is set to darkblue. */

img {
    width: 150px;
    height: auto;
    border: var(--main-border);
    padding: var(--main-padding);
    box-shadow: 0 0 30px gray;
}

/*This CSS rule references all the <img > (image) elements as the selector and applies the following declarations: 
A set width with a height that will adjust dynamically to fit the image's aspect ratio.
A border shortcut that names the width, type of border, and color of the border. 
Padding between the image and the border. 
A box shadow around the image border with zero offset and depth of 30px in gray. */

p {
    padding: var(--main-padding);
    padding-bottom: 7rem;
    margin: 1rem;
}

main {
    max-width: 800px;
}

main img {
    width: 150px;
    height: auto;
    margin: 0 0 1rem 1 rem;
    border: var(--main-border);
    padding: 1px;
    box-shadow: 0 0 30px gray;
    float: right;
}

aside {
    width: 20rem;
    /* margin: 5px;
    border: var(--main-border);
    padding: var(--main-padding);
    background-color: lightgray;
    color: #333; */
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 90px;
    left: 80px;
    font-size: medium;
    color: rgba(233, 76, 4, 0.76);
}

footer {
    margin-top: 1rem;
    border-top: 1px solid black;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: var(--main-border);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}